* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

[class*="nav-item"] {
	text-align: center;
}
[class*="nav-link"] {
	color: gray;
}
.container-fluid {
	overflow-x: hidden;
}
.landingPage {
	background-color: #036396;
	height: 500px;
	color: white;
	position: relative;
}
.landingPageLinks {
	position: absolute;
	top: 90%;
}
.nav {
	background-color: #036396;
	height: 50px;
	padding-top: 10px;
}
.nav-item{
	color: white;
}
#header {
	position: absolute;
	top: 30%;
}
.header {
	font-size: 3em;
	/*color: #d9d9d9;*/
	
	font-weight: 800;
}

a:hover { 
    color: #bfbfbf;
    text-decoration: none;
    border-bottom: 1px solid #d9d9d9;
}
a{
	color: white;
}

.aboutMe {
	min-height: 150px;
	background-color: #f2f2f2;
}

.avatar {
	height: 200px;
	border: 2px solid gray;
}
.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: 80%;
	transition: .5s ease;
	backface-visibility: hidden;
}
.text {
	padding: 0;
}
h2 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 800;
}
.aboutBio {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1em;
	margin-top: 20px;
}
p {
	font-family: 'Titillium Web', sans-serif;
}
h1,nav {
	font-family: 'Raleway', sans-serif;
}

h4 {
	font-size: 1em;
	font-family: 'Titillium Web', sans-serif;
}

.progressleft {
	background-color: #b3b3b3;
}

.bootstrap {
	background-color: #a64dff;
}

.skills {
	background-color: 
	color: #cccccc;
}
.work {
	background-color: #4d4d4d;
	color: white;
}
.skillsimg {
	height: 200px;
	max-width: 200px;
	padding: 20px;
}
.jsimg {
	height: 200px;
}
.bootstrapimg {
	height: 200px;
}
.contact {
	background-color: #333333;
	height: 300px;
	color: white;
}
.workcontainer {
	width: 75%;
	height: 400px;
	margin: 0 auto;
}
.landingPageLinks > a {
	margin: 0 50px;
}
.skillname {
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
}









/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.landingPage {
		position: relative;
		height: 500px;
		
	}
	#header {
		position: absolute;
		top: 25%;
	}
	.landingPageLinks {
		position: absolute;
		top: 90%;
	}
	.header {
	font-size: 3em;
	/*color: #d9d9d9;*/
	
	font-weight: 800;
	}

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.landingPage {
		position: relative;
		height: 600px;
		
	}
	#header {
		position: absolute;
		top: 30%;
	}
	.landingPageLinks {
		position: absolute;
		top: 90%;
	}
	.header {
	font-size: 5em;
	/*color: #d9d9d9;*/
	
	font-weight: 800;
	}
	.middle {
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.workcontainer:hover .image {
		opacity: 0.1;
	}

	.workcontainer:hover .middle {
		opacity: 1;
	}
	.workcontainer {
		height: 300px;
	}

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.landingPage {
		position: relative;
		height: 600px;
		
	}
	#header {
		position: absolute;
		top: 30%;
	}
	.landingPageLinks {
		position: absolute;
		top: 90%;
	}
	.header {
	font-size: 5em;
	/*color: #d9d9d9;*/
	
	font-weight: 800;
	}
	.middle {
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.workcontainer:hover .image {
		opacity: 0.1;
	}

	.workcontainer:hover .middle {
		opacity: 1;
	}
	.workcontainer {
	
	height: 180px;
	width: 100%;
	padding: 0;
	margin: 0;
	}

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.landingPage{
		position: relative;
		min-height: 60vh;	
	}
	#header {
		position: absolute;
		top: 40%;
	}
	.landingPageLinks {
		position: absolute;
		top: 90%;
	}
	.work {
		padding: 50px;
	}
	
	.header {
	font-size: 5em;
	font-weight: 800;
	}
	.middle {
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.workcontainer:hover .image {
		opacity: 0.1;
	}

	.workcontainer:hover .middle {
		opacity: 1;
	}
	.workcontainer {
	
	height: 250px;
	width: 100%;
	padding: 0;
	margin: 0;
	}



}